langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
python-dotenv
pypdf
ipykernel
pandas
numpy
matplotlib
seaborn
langchain-core
langchain-text-splitters
