langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
chromadb
sentence-transformers
python-dotenv
pypdf
ipykernel
pandas
langgraph
numpy
matplotlib
seaborn
langchain-core
langchain-text-splitters
python-docx
pymupdf
docx2txt
unstructured
openpyxl
jq
matplotlib
arxiv
wikipedia
##Embeddings
langchain-openai
langchain-huggingface
sentence-transformers
tiktoken
langchain-experimental
wikipedia
langchain-tavily
langgraph-cli[inmem]
langgraph_supervisor